<h1>Listing bookmarks</h1>

<% if @hashtag %>
  <h3><%= @hashtag %></h3>
  <% @bookmarks.each do |bmark| %>
    <p><%= link_to bmark.title, bmark %></p>
  <% end %>
<% else %>
  <% @hashtags.each do |hashtag| %>
    <h3><%= link_to hashtag.name, hashtag.name %></h3>
    <% @all_bookmarks[hashtag].each do |bookmark| %>
      <p><%= link_to bookmark.title, bookmark %></p>
    <% end %>
  <% end %>
<% end %>
