<h1>Listing bookmarks</h1>

  <% if @hashtag %>
    <h3> <%= @hashtag %> </h3>
    <% @bookmarks.each do |bmark| %>
      <p> <%= link_to bmark.title, bmark %> </p>  
    <% end %>
  <% else %>
    <% @hashtags.each do |h| %>
      <h3> <%= link_to h.name, h.name %> </h3>
    <% @bmarklib[h].each do |b|%>
      <p> <%= link_to b.title, b %> </p>
      <% end %>
  <% end %>
  <% end %>
